// Variable overrides first
//$primary: #900;

// Couleurs telethon
$dark:#2B1C1A;
$light: #F0F0F0;
$success:#8CD50A;
$danger: #FC6303;
$primary: #038591;
$secondary:#025C64;
$info: #EECB5E;

$enable-shadows: true;
$prefix: "mo-";

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";