
.topcompteur{
    border-radius: 10px;
}


/** header */
header h1{
    font-family: 'PT Serif', serif;
}

main h2{
    font-family: 'PT Serif', serif;
    color:  var(--mo-primary);
}

nav ul{
    list-style-type: none;
}

nav li{
    display:inline-block;
}

nav li>a{
    text-decoration: none;
    display: block;
    padding:1rem;
    color:white;
}

nav li>a:hover{
    background-color:var(--mo-secondary);
}

li>a.active{
    background-color:var(--mo-secondary);
    font-weight: bold;
}


/** footer */
footer ul{
    list-style-type: none;
}

footer li{
    display:inline-block;
}

footer a{
    padding:2rem;
    color:white;
    display:block;
}